# Terraform state files
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars

# SSH Keys (Private Keys)
ansible/key/*my-key*

# Ansible
ansible/*.retry
ansible/inventory.ini

# Logs and temporary files
*.log
*.bak
*.tmp

# IDE files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
